<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>JetLag GURU</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <style>
      body {
        padding-top: 60px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-fixed-top navbar-default">
        <div class="navbar-inner">
          <div class="pull-right">
            <a href="#" class="brand">JetLag GURU</a>
          </div>
        </div>
      </div>
      <div class="page-header">
        <h1>JetLag GURU</h1>
      </div>
      <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal"> <!-- class="navbar-form navbar-left" role="search" name="search" action="search" method="get"  -->
                <div class="form-group">
                  <label class="control-label col-md-4" for="departureTime">Departure time:</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" id="departureTime">
                  </div>  
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4" for="departureFrom">Departure from:</label>
                  <div class="col-md-8">
                    <input class="col-md-8 airportInput typeahead" type="text" class="form-control" id="departureFrom">
                  </div>  
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4" for="arrivalTime">Arrival time:</label>
                  <div class="col-md-8">
                    <input class="col-md-8" type="text" class="form-control" id="arrivalTime">
                  </div>  
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4" for="arrivalTo">Arrival to:</label>
                  <div class="col-md-8">
                    <input class="col-md-8 airportInput typeahead" type="text" class="form-control" id="arrivalTo">
                  </div>  
                </div>
                <div class="form-group">
                  <label class="control-label col-md-4" for="arrivalTo"></label>
                  <div class="col-md-8">
                    <button id="btnSearch" type="submit" class="btn btn-default">Search</button>
                  </div>
                </div>
            </form>

            <!--<form ng-submit="send()">-->
            <!--  <div class="span2"><input type="text" class="input-block-level" ng-model="name" ng-change="setName()" placeholder="Your Name"></div>-->
            <!--  <div class="input-append span7">-->
            <!--    <input type="text" class="span6" ng-model="text" placeholder="Message">-->
            <!--    <input type="submit" class="span1 btn btn-primary" value="Send" ng-disabled="!text">-->
            <!--  </div>-->
            <!--</form>-->
        </div>
      </div>
      <div id="schedule" class="row">
        <!--response goes here-->
        
        
        
      </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/typeahead.bundle.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/airportAutocomplete.js"></script>
  </body>
</html>
