.awake {
    background-color: #E69980;
}

.flight {
    background-color: #FFE680;
}

.night {
    background-color: #BF94BF;
    color: white;
}

.sleep {
    background-color: #CCF2CC;
}

table {
    width: 400px;
}

table td, table th {
    text-align: center;
	/*min-width: 50px;*/
}